body {
    background: url(images/pug_potato2.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    position: relative;
    /*background-size: cover;*/
}

@font-face {
    font-family: happyCamper;
    src: url(happy-camper-font.ttf);
}

#google-icon > img {
    position: absolute;
    height: 10vw;
    transform: rotate(-6deg);
    left: 2%;
    top: 22%;
}

#pug > img {
    position: absolute;
    bottom: 20%;
    transform: rotate(-6deg);
    animation-name: jello;
    transform-origin: center;

    transition:all 1s;
    -webkit-transition:all 1s;
}

@media screen and (max-width: 550px) {
    #pug {
        width: 40%;
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 5vw;
}

#modalContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: inline;
}

.hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: dodgerblue;
}

.mood-group-container {
    width: 80%;
}
.mood-group-container label {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 20%;
    padding: 0;
    margin: 0;
}

.popup{
    margin: 0;
    padding: 0;
    position:relative;
    top: 10vh;
    left: 30vh;
    background-image: url("images/speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vw;
    width: 40vw;


    transition:all 1s;
}
.popup p {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 3vw;
    text-align: center;
    padding: 10%;
}
.popup button {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
#pug:hover{
cursor:pointer;
}


/*#pug:hover ~.popup*/
/*{*/
    /*margin-left:30%;*/
    /*margin-top:20%;*/
    /*opacity:1;*/
/*}*/

@keyframes jello {
    from, 11.1%, to {
        transform: none;
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}
