body {
    background: url(images/pug_potato2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: happyCamper;
    src: url(happy-camper-font.ttf);
}

#google-icon > img {
    position: absolute;
    height: 10vw;
    transform: rotate(-6deg);
    left: 2%;
    top: 22%;
}

#pug > img {
    position: fixed;
    bottom: 20%;
    transform: rotate(-6deg);
}

@media screen and (max-width: 550px) {
    #pug {
        width: 40%;
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 5vw;
}

#modalContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: inline;
}