body {
    background: url(images/pug_potato2.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    /*background-size: cover;*/
}

@font-face {
    font-family: happyCamper;
    src: url(happy-camper-font.ttf);
}

#google-icon > img {
    position: absolute;
    height: 10vw;
    transform: rotate(-6deg);
    left: 2%;
    top: 22%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 5vw;
}

#modalContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: inline;
}

.hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: dodgerblue;
}

.mood-group-container label {
    display: inline-block;
    cursor: pointer;
}

.mood-group-container label img {
    padding: 3px;
}



.popup{
    position:fixed;
    left:50vw;
    margin-left:35px;
    top:50vh;
    margin-top:-210px;
    opacity:0;
    transition:all 1s;
    -webkit-transition:all 1s;
}


.popup div
{
    width:120px;
    font-size:20px;
}

.popup div
{
    padding:50px;
    background-color:black;
    border-radius:40px;
    color:white;
    text-align:center;
}

/* button */
.pugtato{
    position:fixed;
    top:50vh;
    margin-top:-78px;
    left:50vw;
    margin-left:-78px;
    display:inline-block;
    text-align:center;
    background-color:yellow;
    padding:40px;

    font-size:30px;

    border-radius:100px;

    transition:all 1s;
    -webkit-transition:all 1s;
}

.pugtato:hover{
    background-color:#00FFFF;
    cursor:pointer;
}

.pugtato:hover ~.popup
{
    margin-left:45px;
    margin-top:-220px;
    opacity:1;
}

