body {
    background: url(images/pug_tato.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    /*background-size: cover;*/
}

@font-face {
    font-family: happyCamper;
    src: url(happy-camper-font.ttf);
}

#google-icon > img {
    position: absolute;
    height: 10vw;
    transform: rotate(-6deg);
    left: 2%;
    top: 22%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 5vw;
}

#modalContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-family: happyCamper, Helvetica, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: inline;
}